extends layout

include mixins/_lesson

block content
  .layout-sidebar
    section.layout-sidebar__sidebar
      .layout-sidebar__sidebar-header
        h2.layout-sidebar__sidebar-title Table of contents
      .layout-sidebar__sidebar-content
        .table-of-contents
          .table-of-contents__list
            .table-of-contents__item
              a.table-of-contents__link(href=`/courses/${course.fields.slug}${queryString}` class=(currentPath.endsWith(course.fields.slug) ? 'active' : '') class=(visitedLessons.includes(course.sys.id) ? 'visited' : '')) Course overview
            each l in course.fields.lessons
              if l.fields
                .table-of-contents__item
                  a.table-of-contents__link(href=`/courses/${course.fields.slug}/lessons/${l.fields.slug}${queryString}` class=(currentPath.endsWith(l.fields.slug) ? 'active' : '') class=(visitedLessons.includes(l.sys.id) ? 'visited' : '')) #{l.fields.title}
    section.layout-sidebar__content
      if lesson
        +lesson(lesson, course, nextLesson)
      else
        .course
          h1.course__title= course.fields.title
          .course__overview
            h3.course__overview-title Overview
            if course.fields.duration
              .course__overview-item
                img.course__overview-icon(src='/images/icon-duration.svg')
                .course__overview-value Duration: #{course.fields.duration} min
            if course.fields.skillLevel
              .course__overview-item
                img.course__overview-icon(src='/images/icon-skill-level.svg')
                .course__overview-value Skill level: #{course.fields.skillLevel}
            .course__overview-cta-wrapper
              a.course__overview-cta.cta(href=`/courses/${course.fields.slug}/lessons/${course.fields.lessons[0].fields.slug}${queryString}`) Start course
          .course__description !{helpers.markdown(course.fields.description)}
