extends layout

block content
  .wrapper.wrapper-with-sidebar
    section.wrapper__sidebar
      h2 Table of contents
      .table-of-contents
        ul
          li
            a.active(href=`/courses/${course.fields.slug}`) Course overview
          each lesson in course.fields.lessons
            li
              a(href=`/courses/${course.fields.slug}/lessons/${lesson.fields.slug}`) #{lesson.fields.title}
    section.wrapper__content
      h1= course.fields.title

      if lesson
        h2= lesson.fields.title
        p !{helpers.markdown(lesson.fields.description)}
        if lessonIndex + 1< lessons.length
          a.cta(href=`/courses/${course.fields.slug}/lessons/${lessons[lessonIndex + 1].fields.slug}`) View next lesson
      else
        p !{helpers.markdown(course.fields.description)}
        a.cta(href=`/courses/${course.fields.slug}/lessons/${course.fields.lessons[0].fields.slug}`) Start course
