extends layout

block content
  .wrapper.wrapper-with-sidebar
    section.wrapper__sidebar
      h2 Table of contents
      .table-of-contents
        ul
          li
            a.active(href=`/courses/${course.fields.slug}`) Course overview
          each lesson in course.fields.lessons
            li
              a(href=`/courses/${course.fields.slug}/lessons/${lesson.fields.slug}`) #{lesson.fields.title}
    section.wrapper__content
      h1= course.fields.title

      if lesson
        h2= lesson.fields.title
        p= lesson.fields.description
      else
        p= course.fields.description
