extends layout

include mixins/_breadcrumb
include mixins/_courseCard

block content
  .layout-no-sidebar
    +breadcrumb
  .layout-sidebar
    section.layout-sidebar__sidebar
      .layout-sidebar__sidebar-header
        h2.layout-sidebar__sidebar-title #{translate('categoriesLabel', currentLocale.code)}
      .layout-sidebar__sidebar-content
        .sidebar-menu
          ul.sidebar-menu__list
            li.sidebar-menu__item
              a.sidebar-menu__link(href=`/courses${queryString}` class=(currentPath.endsWith('/courses') ? 'active' : '')) #{translate('allCoursesLabel', currentLocale.code)}
            each category in categories
              li.sidebar-menu__item
                a.sidebar-menu__link(href=`/courses/categories/${category.fields.slug}${queryString}` class=(currentPath.endsWith(category.fields.slug) ? 'active' : '')) #{category.fields.title}
    section.layout-sidebar__content
      .courses
        h1= title
        .grid-list
          each course in courses
            .grid-list__item
              +courseCard(course)
