extends layout

include mixins/_breadcrumb

block content
  .layout-centered
    .error
      h1 #{translate('somethingWentWrongLabel', currentLocale.code)} (#{error.status})
      p #{error.message}
      h2 #{translate('tryLabel', currentLocale.code)}:
      ul
        case error.status
          when 404
            li #{translate('notFoundErrorLabel', currentLocale.code)}
            li #{translate('draftOrPublishedErrorLabel', currentLocale.code)}
          when 400
            li #{translate('contentModelChangedErrorLabel', currentLocale.code)}
          when 401
            li #{translate('verifyCredentialsErrorLabel', currentLocale.code)}
            li #{translate('localeContentErrorLabel', currentLocale.code)}
          when 500
            li #{translate('contentModelChangedErrorLabel', currentLocale.code)}

        if error.stack
          li #{translate('stackTraceErrorLabel', currentLocale.code)}
      if error.response
        h2 #{translate('errorLabel', currentLocale.code)}
        pre.error__stack-trace
          code.shell #{helpers.dump(error.response.data)}
      if error.stack
        h2 #{translate('stackTraceLabel', currentLocale.code)}
        pre.error__stack-trace
          code.shell #{error.stack}
