extends layout

include mixins/_breadcrumb

block content
  .layout-centered
    +breadcrumb
    .error
      h1 #{translate('somethingWentWrongLabel', currentLocale.code)} (#{error.status})
      h2 #{translate('tryLabel', currentLocale.code)}:
      ul
        li #{translate('contentModelChangedErrorLabel', currentLocale.code)}
        li #{translate('draftOrPublishedErrorLabel', currentLocale.code)}
        li #{translate('localeContentErrorLabel', currentLocale.code)}
        li #{translate('verifyCredentialsErrorLabel', currentLocale.code)}
        li #{translate('stackTraceErrorLabel', currentLocale.code)}
      if error.response
        h2 #{translate('errorLabel', currentLocale.code)}
          pre.error__stack-trace
            code.shell #{helpers.dump(error.response.data)}
      h2 #{translate('stackTraceLabel', currentLocale.code)}
      pre.error__stack-trace
        code.shell #{error.stack}
