extends layout

include mixins/_breadcrumb
include mixins/_editorialFeatures
include mixins/_moduleCopy
include mixins/_moduleHeroImage
include mixins/_moduleHighlightedCourse

block content
  .layout-centered
    +breadcrumb
    h1= title
    table
      tbody
        tr
          th #{translate('companyLabel', currentLocale.code)}:
          td Contentful GmbH
        tr
          th #{translate('officeLabel', currentLocale.code)}:
          td
            | Ritterstr. 12-14
            br
            |  10969 Berlin
            br
            |  #{translate('germanyLabel', currentLocale.code)}
        tr
          th #{translate('registrationCourtLabel', currentLocale.code)}:
          td Berlin-Charlottenburg HRB 155607 B
        tr
          th #{translate('managingDirectorLabel', currentLocale.code)}:
          td Sascha Konietzke
        tr
          th #{translate('vatNumberLabel', currentLocale.code)}:
          td DE275148225
