doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #main
      #main__header
        .wrapper
          header.header
            section.header__logo
              a.header__logo-link(href='#')
                img(src='/images/logo.svg' alt='Contentful Example App')
            section.header__navarea
              section.header__controls
                form(action="" method="get")
                  fieldset
                    label(for='api') API type:
                    select(name='api' onChange='this.form.submit()')
                      option(value='cda' selected=query.api === 'cda') Delivery API
                      option(value='cpa' selected=query.api === 'cpa') Preview API
                  fieldset
                    label(for='locale') Language:
                    select(name='locale' onChange='this.form.submit()')
                      option(value='en-US' selected=query.locale === 'en-US') English
                      option(value='de-DE' selected=query.locale === 'de-DE') German
              nav.header__navigation.main-navigation
                ul
                  li
                    a(href=`/${queryString}` class=(currentPath === '/'? 'active' : '')) Home
                  li
                    a(href=`/courses${queryString}` class=(currentPath.startsWith('/courses') ? 'active' : '') ) Courses
                  li
                    a(href=`/about${queryString}` class=(currentPath.startsWith('/about') ? 'active' : '')) About
                  li
                    a(href=`/settings${queryString}` class=(currentPath.startsWith('/settings') ? 'active' : '')) Settings

      #main__content
        block content

      #main__footer
        .wrapper
          footer.footer
            .footer__upper
              nav.footer__navigation.main-navigation
                ul
                  li
                    a(href=`/${queryString}` class=(currentPath === '/'? 'active' : '')) Home
                  li
                    a(href=`/courses${queryString}` class=(currentPath.startsWith('/courses') ? 'active' : '') ) Courses
                  li
                    a(href=`/about${queryString}` class=(currentPath.startsWith('/about') ? 'active' : '')) About
                  li
                    a(href=`/settings${queryString}` class=(currentPath.startsWith('/settings') ? 'active' : '')) Settings
              .footer__apps
                a(href='#')
                  img(src='/images/badge-app-store.svg')
                a(href='#')
                  img(src='/images/badge-google-play.svg')
            .footer__lower
              .footer__disclaimer
                p
                  span This website and the materials found on it are for demo purposes using Contentful. You can use this to preview the content created on your Contentful account.
                  a(href='#todo') View details.
              .footer__social
                p
                  a(href='https://www.facebook.com/contentful/' target='_blank')
                    img(src='/images/icon-facebook.svg' alt='Our Facebook profile')
                  a(href='https://twitter.com/contentful' target='_blank')
                    img(src='/images/icon-twitter.svg' alt='Our Twitter profile')
  script(src='/scripts/highlight.pack.js')
  script hljs.initHighlightingOnLoad();
