extends layout

include mixins/_breadcrumb

mixin renderErrors (errors)
  each message in errors
    .form-item__error-wrapper
      svg.form-item__error-icon
          use(xlink:href='/icons/icons.svg#error')
      .form-item__error-message= message

block content
  .layout-centered-small
    +breadcrumb
    h1= title
    p To query and get content using the APIs, client applications need to authenticate with both the Space ID and an access token.

    if success
      .status-block.status-block--success
        svg.status-block__icon.status-block__icon--success
          use(xlink:href='/icons/icons.svg#success')
        .status-block__content
          .status-block__title Changes saved successfully!

    if hasErrors
      .status-block.status-block--error
        svg.status-block__icon.status-block__icon--error
          use(xlink:href='/icons/icons.svg#error')
        .status-block__content
          .status-block__title Error occurred
          .status-block__message Some errors occurred. Please check the error messages next to the fields.

    if space && !hasErrors
      .status-block.status-block--info
        svg.status-block__icon.status-block__icon--info
          use(xlink:href='/icons/icons.svg#info')
        .status-block__content
          .status-block__message Connected to space “#{space.name}”

    form(action=`/settings` method="POST" class="form")
      .form-item
        label(for="input-space") Space ID
        input(type="text" name="space" id="input-space" value=settings.space)
        if 'space' in errors
          +renderErrors(errors.space)
        .form-item__help-text The Space ID is a unique identifier for your space.

      .form-item
        label(for="input-cda") Content Delivery API - access token
        input(type="text" name="cda" id="input-cda" value=settings.cda)
        if 'cda' in errors
          +renderErrors(errors.cda)
        .form-item__help-text
          | View published content using this API.&nbsp;
          a(href='https://www.contentful.com/developers/docs/references/content-delivery-api/' target='_blank' rel='noopener') Content Delivery API.

      .form-item
        label(for="input-cpa") Content Preview API - access token
        input(type="text" name="cpa" id="input-cpa" value=settings.cpa)
        if 'cpa' in errors
          +renderErrors(errors.cpa)
        .form-item__help-text
          | Preview unpublished content using this API (i.e. content with “Draft” status).&nbsp;
          a(href='https://www.contentful.com/developers/docs/references/content-preview-api/' target='_blank' rel='noopener') Content Preview API.

      .form-item
        input(type="checkbox" name="editorialFeatures" id="input-editorial-features" checked=settings.editorialFeatures)
        label(for="input-editorial-features") Enable editorial features
        .form-item__help-text Enable to display an edit link and other contextual helpers for authors. You need to have access to the connected space to make this work.

      .form-item
        input.cta(type="submit" value="Save settings")
