extends layout

block content
  .layout-centered-small
    h1= title
    p To query and get content using the APIs, client applications need to authenticate with both the Space ID and an access token.

    if success
      .status-block.status-block--success
        img.status-block__icon(src='/images/icon-success.svg')
        .status-block__content
          .status-block__title Changes saved successfully!

    if hasErrors
      .status-block.status-block--error
        img.status-block__icon(src='/images/icon-error.svg')
        .status-block__content
          .status-block__title Error occurred
          .status-block__message Some errors occurred. Please check the error messages next to the fields.

    form(action=`/settings` method="POST" class="form")
      .form-item
        label(for="space") Space ID
        input(type="text" name="space" value=settings.space)
        if 'space' in errors
          each message in errors.space
            .form-item__error-message= message
        .form-item__help-text The Space ID is a unique identifier for your space.

      .form-item
        label(for="cda") Content Delivery API - access token
        input(type="text" name="cda" value=settings.cda)
        if 'cda' in errors
          each message in errors.cda
            .form-item__error-message= message
        .form-item__help-text
          | View published content using this API.&nbsp;
          a(href='https://www.contentful.com/developers/docs/references/content-delivery-api/' target='_blank' rel='noopener') Content Delivery API.
      .form-item
        label(for="cpa") Content Preview API - access token
        input(type="text" name="cpa" value=settings.cpa)
        if 'cpa' in errors
          each message in errors.cpa
            .form-item__error-message= message
        .form-item__help-text
          | Preview unpublished content using this API (i.e. content with “Draft” status).&nbsp;
          a(href='https://www.contentful.com/developers/docs/references/content-preview-api/' target='_blank' rel='noopener') Content Preview API.

      .form-item
        input.cta(type="submit" value="Load settings")
