mixin courseCard(course = {fields: {title: '', description: '', categories: [], slug: ''}})
  .course-card
    if(course.fields.categories)
      .course-card__categories
        each category in course.fields.categories
          a.course-card__category(href=`/courses/categories/${category.fields.slug}${queryString}`) #{category.fields.title}
    h2.course-card__title= course.fields.title
    p.course-card__description= course.fields.shortDescription
    .course-card__link-wrapper
      a.course-card__link(href=`/courses/${course.fields.slug}${queryString}`) view course

