mixin courseCard(course = {fields: {title: '', description: '', categories: [], slug: ''}})
  .course-card
    .course-card__categories
      if(course.fields.categories)
        each category in course.fields.categories
          a(href=`categories/${category.fields.slug}`) #{category.title}
    .course-card__title
      h2= course.fields.title
    .course-card__description
      p= course.fields.shortDescription
    .course-card__link
      a(href=`/courses/${course.fields.slug}`) view course

