include _entryState

mixin editorialFeatures(entry)
  if settings.editorialFeatures
    .editorial-features
      if currentApi.id === 'cpa' && (entry.draft || entry.pendingChanges)
        +entryState(entry)
      .editorial-features__item
        a.editorial-features__text(
          href=`https://app.contentful.com/spaces/${settings.spaceId}/entries/${entry.sys.id}`
          target='_blank'
          rel='noopener'
        ) #{translate('editInTheWebAppLabel', currentLocale.code)}
        .editorial-features__hint-wrapper
          svg.editorial-features__hint-icon
            use(xlink:href='/icons/icons.svg#info')
          .editorial-features__hint-message #{translate('editorialFeaturesHint', currentLocale.code)}
