include _lessonModuleCodeSnippet
include _lessonModuleCopy
include _lessonModuleImage

mixin lesson(lesson, course, nextLesson)
  .lesson
    .lesson_content
      h1.lesson__title #{lesson.fields.title}
      div.lesson__short-description !{helpers.markdown(lesson.fields.description)}
      if lesson.fields.image
        img.lesson__image(src=`${lesson.fields.image.fields.file.url}` alt=`${lesson.fields.image.fields.title}`)
      each module in lesson.fields.modules
        if module.sys.contentType
          case module.sys.contentType.sys.id
            when 'lessonModuleCodeSnippets'
              +lessonModuleCodeSnippet(module)
            when 'lessonModuleCopy'
              +lessonModuleCopy(module)
            when 'lessonModuleImage'
              +lessonModuleImage(module)
        else
          h2 ️️⚠️ Invalid lesson module
          p
            span Could not determine type of
            strong  #{module.sys.id}
    .lesson_footer
      if nextLesson
        a.lesson__cta.cta(href=`/courses/${course.fields.slug}/lessons/${nextLesson.fields.slug}${queryString}`) View next lesson
