mixin lessonModuleImage(module)
  .lesson-module.lesson-module-image
<<<<<<< Updated upstream
    if module.fields.file && module.fields.file.url
      img.lesson-module-image__image(src=module.fields.file.url alt=module.fields.title)
    else
      h3 ⚠️ Image missing
=======
    img.lesson-module-image__image(src=module.fields.image.fields.file.url alt=module.fields.image.fields.title)
    div.lesson-module-image__title #{module.fields.title}
>>>>>>> Stashed changes
