mixin lessonModuleCodeSnippet(module)
  .lesson-module.lesson-module-code
    h1.lesson-module__title #{module.fields.title}
    pre.lesson-module-code__curl
      code.shell= module.fields.curl
    pre.lesson-module-code__dotnet
      code.csharp= module.fields.dot-net
    pre.lesson-module-code__javascript
      code.javascript= module.fields.javascript
    pre.lesson-module-code__java
      code.java= module.fields.java
    pre.lesson-module-code__java-android
      code.java= module.fields.javaAndroid
    pre.lesson-module-code__php
      code.php= module.fields.php
    pre.lesson-module-code__python
      code.python= module.fields.python
    pre.lesson-module-code__ruby
      code.ruby= module.fields.ruby
    pre.lesson-module-code__swift
      code.swift= module.fields.swift

