include ./_courseCard

mixin moduleHighlightedCourse(module, course)
  .module.module-higlighted-course
    .module-higlighted-course__wrapper
      .module-higlighted-course__image-wrapper
        if course.fields.image
          img.module-hero-image__image(src=`${course.fields.image.fields.file.url}` alt=`${course.fields.image.fields.title}`)
      .module-higlighted-course__overlay
      .module-higlighted-course__content
        if(course.fields.categories)
          .module-higlighted-course__categories
            each category in course.fields.categories
              a.module-higlighted-course__category(href=`/courses/categories/${category.fields.slug}${queryString}`) #{category.fields.title}
        h2.module-higlighted-course__title= course.fields.title
        .module-higlighted-course__description-wrapper
          p !{helpers.markdown(course.fields.shortDescription)}
        .module-higlighted-course__link-wrapper
          a.module-higlighted-course__link(href=`/courses/${course.fields.slug}${queryString}`) view course
