mixin moduleCopy(module)
  - const style = module.fields.visualStyle === 'Emphasized' ? `--emphasized` : ''
  div(class=`module module-copy${style}`)
    div(class=`module-copy__wrapper${style}`)
      div(class=`module-copy__first${style}`)
        if module.fields.headline
          h1(class=`module-copy__headline${style}`) #{module.fields.headline}
        div(class=`module-copy__copy${style}`) !{helpers.markdown(module.fields.copy)}
      div(class=`module-copy__second${style}`)
        if module.fields.ctaTitle && module.fields.ctaLink
          a.cta(class=`module-copy__cta${style}` href=module.fields.ctaLink)= module.fields.ctaTitle
